@charset 'uft-8';
@import url(./my_reset.css);

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}
@font-face {
  font-family: trajan pro;
  font-style: normal;
  font-weight: 400;
  src: local("Trajan Pro"),
    url(https://fonts.cdnfonts.com/s/14928/TrajanPro-Regular.woff)
      format("woff");
}
@font-face {
  font-family: "Lucida Calligraphy New";
  src: local("Lucida Calligraphy New"),
    url("https://fonts.cdnfonts.com/s/38242/LucidaCalligraphyNew.woff")
      format("woff");
  font-style: italic;
  font-weight: 400;
}

:root {
  font-family: "Noto Sans KR", sans-serif;
  --mfont: "Trajan Pro", sans-serif;
  --sfont: "Lucida Calligraphy New", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  --M1: 50px;
  --M2: 30px;
  --S1: 18px;
  --S2: 14px;
  color: #333;
  --main-bg1: #f8f0e3;
  --main-bg2: #a8996e;
  --sub-c1: white;
  --sub-c2: #a6a6a6;
  --point-c1: #18a8b5;
}
.max_w {
  width: calc(100% - 2rem);
  max-width: 1500px;
  margin: auto;
}
.bottom_hd > * {
  /* border: 5px solid tomato; */
}
.scrollLock {
  overflow: hidden;
}
/* header */
.hd {
  width: 100%;
  background-color: var(--main-bg1);
  z-index: 900;
  /* border: 1px solid red; */
}
.hd .top_hd {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hd .top_hd a {
  font-size: 14px;
  display: inline-block;
  font-family: var(--mfont);
}
.hd .top_hd > a {
  /* border: 1px solid salmon; */
  position: relative;
}
.hd .top_hd > a::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 28px;
  background-image: url(./img/icon_coffee.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 3px 5px;
  /* border: 1px solid red; */
  vertical-align: middle;
}
.hd .login a {
  display: inline-block;
  padding: 0 0.5rem;
}
.hd .top_hd a:hover {
  font-weight: bold;
}
.hd nav {
  background-color: var(--sub-c1);
  height: 99px;
  /* position: fixed;
  width: 100%; */
}
.hd .bottom_hd {
  /* border: 1px solid salmon; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hd .bottom_hd .logo {
  /* border: 5px solid red; */
  position: relative;
}
.hd .bottom_hd .logo img {
  /* border: 1px solid tan; */
  width: 100%;
}
.hd .bottom_hd .logo a {
  /* border: 1px solid rebeccapurple; */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: transparent;
}
.hd .bottom_hd .gnb {
  display: flex;
  /* border: 1px solid red; */
  width: 60%;
}
.hd .bottom_hd .gnb::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  top: 140px;
  background-color: var(--main-bg1);
  left: 0;
  /* border: 1px solid red; */
  opacity: 0;
  transition: 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.hd .bottom_hd .gnb:hover::before {
  height: 350px;
  opacity: 1;
}
.hd .bottom_hd .gnb a {
  display: inline-block;
  white-space: nowrap;
}
.hd .bottom_hd .gnb > li {
  /* border: 1px solid blue; */
  width: calc(100% / 6);
}
.hd .bottom_hd .gnb > li > a {
  padding: 4.5vh 0;
  /* border: 1px solid red; */
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.hd .bottom_hd .gnb > li {
  position: relative;
}
.hd .bottom_hd .sub {
  /* border: 1px solid gray; */
  font-size: 14px;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
}
.hd .bottom_hd .sub li {
  text-align: center;
}
.hd .bottom_hd .sub li a {
  display: inline-block;
  width: 100%;
  padding: 0.3rem;
  transition: 0.3s;
}
.hd {
  position: relative;
}
.sub {
  /* background-color: var(--main-bg1); */
}
.hd .bottom_hd .gnb > li:hover > a {
  font-weight: bold;
}
.hd .bottom_hd .gnb:hover .sub {
  height: 360px;
  transition: 0.3s;
}
.hd .bottom_hd .sub li:hover a {
  color: var(--sub-c1);
  background-color: var(--main-bg2);
}
.hd .btn_header {
  /* border: 3px solid lightblue; */
  background-color: var(--point-c1);
  border-radius: 25px;
}
.hd .btn_header a {
  color: var(--sub-c1);
  display: inline-block;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 50%;
  transition: 0.3s;
  white-space: nowrap;
}
.hd .btn_header:hover a {
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.hd .ham > button {
  display: none;
  border: none;
  padding: 0.5rem;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--main-bg2);
  white-space: nowrap;
  cursor: pointer;
}
/* section_1 */
.sec1 {
  background-color: var(--main-bg1);
}
.sec1_con {
  /* border: 3px solid lightblue; */
  position: relative;
  width: 100%;
  padding-top: 82.5vh;
}
.sec1_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.sec1_text h2 {
  font-family: var(--mfont);
  font-size: var(--M1);
  padding-bottom: 0.25rem;
}
.sec1_text p {
  display: block;
  font-size: var(--S1);
  color: var(--sub-c2);
}
.sec1_circle {
  /* border: 5px solid seagreen; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sec1_circle > * {
  position: absolute;
  /* border: 1px solid red; */
}
.sec1_circle div {
  transition: 0.2s;
  border-radius: 50%;
}
.sec1_circle a {
  /* border: 5px solid lavender; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 97%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--sub-c1);
  font-weight: bold;
  font-size: var(--M2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  white-space: nowrap;
  opacity: 0;
  transition: 0.3s;
}
.sec1_circle .circle_1 {
  /* border: 5px solid salmon; */
  top: 13%;
  left: 7%;
  width: 17vw;
  height: 17vw;
}
.sec1_circle .circle_1 img {
  /* border: 5px solid lightpink; */
  border-radius: 50%;
  width: 100%;
}
.sec1_circle .circle_1 a {
  /* border: 5px solid lightpink; */
  /* padding: 4rem; */
}
.sec1_circle .circle_1:hover {
  top: 12%;
}
.sec1_circle div:hover a {
  opacity: 1;
}
.sec1_circle .circle_2 {
  bottom: 5%;
  left: 20%;
  width: 10vw;
  height: 10vw;
}
.sec1_circle .circle_2 img {
  /* border: 1px solid red; */
  border-radius: 50%;
  width: 100%;
}
.sec1_circle .circle_2 a {
  font-size: 20px;
}
.sec1_circle .circle_2:hover {
  bottom: 6%;
}
.sec1_circle .circle_3 {
  top: 35%;
  right: 8%;
  z-index: 10;
  width: 16vw;
  height: 16vw;
}
.sec1_circle .circle_3 img {
  /* border: 1px solid red; */
  border-radius: 50%;
  width: 100%;
}
.sec1_circle .circle_3 a {
}
.sec1_circle .circle_3:hover {
  top: 34%;
}
.sec1_circle a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sec1_circle .circle_2::before {
  content: "";
  width: 5vw;
  height: 5vw;
  background-color: #18a8b5e1;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -15px;
  transform: rotate(-45deg);
  z-index: -1;
}

.sec1_circle .circle_3::before {
  content: "";
  width: 5vw;
  height: 5vw;
  position: absolute;
  top: -5px;
  left: -5px;
  background-image: url(./img/줄무늬동그라미_흰색.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(45deg);
  z-index: -1;
}
.sec1_circle .circle_3::after {
  content: "";
  width: 17vw;
  height: 20vw;
  position: absolute;
  top: -47%;
  left: 8%;
  background-image: url(./img/와플편집2.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(5deg);
  z-index: -1;
  /* border: 1px solid red; */
}
.sec2 {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.sec2 .sec2_left {
  /* border: 3px solid lavender; */
  justify-content: left;
  padding-top: 5vh;
  padding-left: 2rem;
}
.sec2 .sec2_left h2 {
  font-family: var(--mfont);
  font-size: var(--M1);
}
.sec2 .sec2_text {
  /* border: 3px solid lightcoral; */
  padding: 0.5rem 2rem;
  position: relative;
}
.sec2 .sec2_text p {
  font-size: var(--S1);
}
.sec2 .sec2_text::before {
  content: "";
  width: 2px;
  height: 70%;
  background-color: var(--main-bg1);
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.sec2 .sec2_text p:nth-of-type(2) {
  padding-bottom: 0.5rem;
}
.sec2 .sec2_img {
  /* border: 1px solid palevioletred; */
  display: flex;
  width: 55%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3vh;
}
.sec2_img > li {
  /* border: 3px solid darkorange; */
  position: relative;
  width: calc(100% / 2 - 1rem);
  padding-top: 9.5rem;
  margin-bottom: 1rem;
}
.sec2 .sec2_box1,
.sec2 .sec2_box2,
.sec2 .sec2_box3,
.sec2 .sec2_box4 {
  background-size: cover;
}
.sec2 .sec2_box1 {
  background-image: url(./img/He.jpg);
}
.sec2 .sec2_box2 {
  background-image: url(./img/H.jpg);
}
.sec2 .sec2_box3 {
  background-image: url(./img/D.jpg);
}
.sec2 .sec2_box4 {
  background-image: url(./img/F.jpg);
}
.sec2 li > p {
  display: inline-block;
  font-family: var(--sfont);
  background-color: #a8996ebb;
  /* border: 1px solid orange; */
  text-align: center;
  width: 100%;
  height: 2.25rem;
  position: absolute;
  top: 0;
  padding-top: 5px;
  color: var(--sub-c1);
}
.sec2_img li > p > span:first-of-type {
  font-size: 32px;
}
.sec2_img li > p > span:last-of-type {
  font-size: 20px;
}
.sec2_img > li > div {
  /* border: 1px solid cadetblue; */
  position: absolute;
  background-color: var(--main-bg1);
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1% 0;
}
.sec2_img > li > div > p {
  font-size: 16px;
}
.sec2::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 100vh;
  top: 0;
  right: 0;
  background-image: url(./img/젤라또쇼케이스009001000075.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.sec3 {
  /* border: 5px solid salmon; */
  display: flex;
  position: relative;
  /* overflow: hidden; */
}
.sec3::before {
  content: "";
  position: absolute;
  background-image: url(./img/망고빙수.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  right: 10vh;
  width: 20%;
  height: 30%;
}
.sec3_left {
  /* border: 1px solid limegreen; */
  width: 35%;
  height: 100vh;
  background-color: var(--main-bg1);
}
.sec3_left .menu_text {
  width: 100%;
  text-align: center;
  padding-top: 30%;
}
.sec3_left .menu_text > h2 {
  font-family: var(--mfont);
  font-size: var(--M1);
}
.sec3_left .menu_btns {
  /* border: 1px solid slateblue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin: 6rem 0;
}
.sec3_left .menu_btns > * {
  /* border: 3px solid brown; */
  border: none;
  background: transparent;
  font-size: 1.15rem;
  color: var(--sub-c2);
  font-family: var(--mfont);
  padding: 1rem;
  padding-left: 35%;
  text-align: left;
}
.sec3_left .menu_btns > button {
  position: relative;
  /* border: 1px solid salmon; */
  transition: 0.3s;
  cursor: pointer;
}
.sec3_left .menu_btns > button::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 1px;
  background-color: var(--sub-c2);
  top: 45%;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.sec3_left .menu_btns > button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background-color: var(--sub-c2);
  top: 39%;
  left: 30%;
  opacity: 0;
  transition: 0.3s;
}
.sec3_left .menu_btns > button.on {
  font-weight: bold;
  color: var(--point-c1);
}
.sec3_left .menu_btns > button.on::before,
.sec3_left .menu_btns > button.on::after {
  opacity: 1;
}

.sec3_left .menu_btns > button:hover {
  font-weight: bold;
  color: var(--point-c1);
}
/* .sec3_left .menu_btns > button.on {
  border: 1px solid slateblue;
  font-weight: normal;
  color: var(--sub-c2);
} */
.sec3_left .menu_btns > button:hover::before,
.sec3_left .menu_btns > button:hover::after {
  opacity: 1;
}

.sec3_right {
  width: 65%;
  height: 100vh;
}
.sec3_right > article {
  /* border: 1px solid orange; */
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 150px;
}
.sec3_right > article .swiper {
  /* border: 5px solid lavender; */
  /* padding: 25vh 10vh; */
  height: 40vw;
}
.swiper .menu_list {
  /* border: 5px solid lightblue; */
  align-items: flex-end;
  height: 100%;
}
.sec3_right .swiper-slide {
  /* border: 1px solid red; */
  width: 25vw;
  height: 35vw;
  overflow: hidden;
  position: relative;
}
.sec3_right .swiper-slide > * {
  position: absolute;
  bottom: 0;
}
.sec3_right .swiper-slide > img {
  width: 100%;
  filter: grayscale(1);
}
.swiper .menu_list li {
  /* border: 3px solid pink; */
  padding: 0 1rem;
  position: relative;
}
.swiper li::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #18a8b570;
  z-index: 1;
}
.slide1 li::before {
  height: 17.8vw;
}
.slide2 li::before {
  height: 16.3vw;
}
.slide3 li::before {
  height: 17.3vw;
}
.slide4 li::before {
  height: 16.3vw;
}
.swiper .swiper-slide-active {
  /* border: 1px solid red; */
  width: 30vw !important;
  position: relative;
  overflow: hidden;
}
.sec3_right .swiper-slide-active::before {
  background-color: rgba(0, 0, 200, 0) !important;
}
.sec3_right .swiper-slide-active img {
  filter: grayscale(0) !important;
  /* border: 5px solid hotpink; */
  width: 100%;
  background-size: contain;
}
.swiper .swiper-slide a {
  /* border: 1px solid salmon; */
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0;
  left: 0;
  z-index: 10;
  display: none;
}
.swiper .swiper-slide-active a {
  display: block;
}
.swiper li span {
  border: 1px solid var(--sub-c2);
  position: absolute;
  bottom: 0 !important;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--sub-c1);
  white-space: nowrap;
  width: 60%;
  height: 7%;
  text-align: center;
  align-items: center;
  padding-top: 0.6%;
  display: none;
}
.swiper .swiper-slide-active span {
  display: block;
}
.sec3_right {
  /* border: 3px solid pink; */
  position: relative;
}
.sec3_right > article {
  position: relative;
}
.btns {
  /* border: 3px solid lightblue; */
  position: absolute;
  bottom: 18%;
  left: 11%;
  width: 25%;
  height: 5%;
  z-index: 1000;
  /* justify-content: space-between; */
}
.swiper-button-next,
.swiper-button-prev {
  border: 1px solid red;
  color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}
.swiper-button-next {
  border: 1px solid red;
  background-image: url(./img/beige_location-arrow-solid.svg) !important;
  right: 5%;
}

.swiper-button-prev {
  /* border: 1px solid red; */
  background-image: url(./img/beige_location-arrow-solid.svg);
  transform: rotate(180deg);
  left: 5%;
}

/* sec4 */
.sec4 {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.sec4::before,
.sec4::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
}
.sec4::before {
  width: 30%;
  height: 30%;
  bottom: 20%;
  left: -1.3%;
  transform: rotate(-5deg);
  background-image: url(./img/과자반대_아슈크림.png);
}
.sec4::after {
  width: 17%;
  height: 17%;
  bottom: 0%;
  right: -7%;
  transform: rotate(-5deg);
  background-image: url(./img/커피.png);
}
.sec4_text {
  text-align: center;
}
.sec4_text h2 {
  font-family: var(--mfont);
  font-size: var(--M1);
  background-color: #18a8b523;
  padding: 4rem 0 0.5rem 0;
}
.sec4_text > div {
  /* border: 1px solid salmon; */
  padding: 1.75rem;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
.sec4_text > div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-image: url(./img/20120328141900066.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}
.sec4_text > div > p {
  /* border: 1px solid blue; */
  font-size: 1.15rem;
}
.sec4 .store_size {
  /* border: 5px solid blueviolet; */
  display: flex;
}
.sec4 .store_size > li {
  width: calc(100% / 3);
  /* border: 5px solid tan; */
  margin: 1.5rem 0.75rem;
  position: relative;
  padding-top: 45vh;
  overflow: hidden;
}
.sec4 .list {
  top: 0;
  /* border: 1px solid blue; */
  width: 100%;
  height: 70%;
  cursor: pointer;
  position: absolute;
}
.sec4 .list > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.sec4 .list > div {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}
.sec4 .list > div > p {
  font-size: 1rem;
  line-height: 2;
}
.sec4 .list > div:hover {
  opacity: 1;
}
.sec4 .list > p {
  /* border: 1px solid orange; */
  padding: 0 0.5rem;
  white-space: nowrap;
}
.sec4 .list > p > span:first-of-type {
  cursor: pointer;
  position: relative;
}
.sec4 .list > p > span:first-of-type::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: var(--main-bg1);
  width: 2px;
  height: 20px;
  margin: 0 0.3rem;
  top: 50%;
  transform: translateY(-50%);
}
.sec4 .list > p > span:last-of-type {
  cursor: pointer;
  padding-left: 0.5rem;
}
.sec4 > .btn {
  /* border: 1px solid salmon; */
  /* margin-top: 0.5rem; */
  margin-top: 0;
  position: relative;
}
.sec4 > .btn > * {
  background-color: var(--main-bg1);
  padding: 0.4rem 2.7rem;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
}
.sec4 > .btn > a:first-of-type {
  right: 51%;
}
.sec4 > .btn > a:last-of-type {
  left: 51%;
}
.sec4 > .btn > a:hover {
  background-color: var(--main-bg2);
  color: var(--sub-c1);
}
/* sec5 */
.sec5 {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
}
.sec5 .sec5_left {
  position: relative;
  /* border: 1px solid aqua; */
  width: 45%;
}
.sec5 .sec5_left::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 95%;
  background-color: #eaeaea;
  top: 0;
  right: -2.3rem;
}
.sec5 .sec5_text {
}
.sec5 .sec5_text h2 {
  font-size: var(--M1);
  margin-bottom: 0.3rem;
}
.sec5 .sec5_text span {
  font-size: var(--S1);
}
.sec5 .sec5_text span::before {
  content: "";
  /* border: 1px solid salmon; */
  display: inline-block;
  width: 25px;
  height: 35px;
  background-image: url(./img/location-dot-solid.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  vertical-align: bottom;
  margin: 0 2rem 0 0.2rem;
}
.sec5 .sec5_left img {
  position: absolute;
  width: 40%;
  height: 30vh;
  top: 0;
  right: 0;
}
.sec5 form {
  border: 3px solid var(--main-bg1);
  margin-top: 40vh;
}
.sec5 form div {
  position: relative;
}
.sec5 form input {
  border: transparent;
  font-size: var(--S1);
  color: var(--sub-c2);
  padding: 0.7rem 1.5rem;
  width: 85%;
  outline: none;
}
.sec5 form i {
  /* border: 3px solid rebeccapurple; */
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.5rem;
}
.sec5 .sec5_right {
  /* border: 1px solid violet; */
  width: calc(55% - 4rem);
  position: relative;
}
.sec5_openleft {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec5_openleft h2 {
  font-family: var(--mfont);
  font-size: var(--M1);
  /* margin-bottom: 0.5rem; */
}
.sec5_openleft .open {
  /* width: 15vw; */
  width: 100%;
  position: relative;
  background-color: var(--main-bg1);
  padding: 1rem 0;
  margin: 1rem;
  border-radius: 25px;
}
.sec5_openleft .open span {
  /* border: 1px solid saddlebrown; */
  font-size: var(--M2);
  display: block;
  text-align: center;
}
.sec5_openleft .open a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 25px;
  color: transparent;
}
.sec5_rightimg {
  /* border: 1px solid palevioletred; */
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  width: 50%;
  padding-top: 70vh;
}
.sec5_rightimg img {
  /* border: 1px solid lawngreen; */
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.foot_topcolor {
  background-color: var(--main-bg1);
}
.foot_top {
  /* border: 1px solid rebeccapurple; */
  display: flex;
  position: relative;
  justify-content: space-between;
}
.foot_top .left {
  /* border: 1px solid aqua; */
  font-size: var(--S2);
  display: flex;
  align-items: center;
}
.foot_top .left a {
  /* border: 1px solid cadetblue; */
  padding: 0 1rem;
  display: inline-block;
  position: relative;
  filter: grayscale(1);
  padding-bottom: 1px;
}
.foot_top .left a:first-of-type {
  padding-left: 0;
}
.foot_top .left a::after {
  content: "";
  position: absolute;
  background-color: var(--sub-c2);
  width: 1px;
  height: 2vh;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.foot_top .left a:hover {
  font-weight: bold;
}
.foot_top .left a:nth-of-type(1) ~ a {
  /* border: 1px solid salmon; */
  padding-top: 0.1rem;
}
.foot_top .left a:first-of-type::after,
.foot_top .left a:last-of-type::after {
  display: none;
}
.foot_top .left a img {
  /* border: 1px solid slateblue; */
  width: 8vw;
  background-position: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot_top .right {
  /* border: 1px solid salmon; */
  display: flex;
  align-items: center;
}
.foot_top .right a {
  /* border: 1px solid salmon; */
  display: inline-block;
  color: transparent;
  height: 3.5vh;
  width: 3.5vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0.3rem 0.2rem;
  border-radius: 25px;
}
.foot_top .right a:nth-of-type(1) {
  background-image: url(./img/블로그.png);
}
.foot_top .right a:nth-of-type(2) {
  background-image: url(./img/facebook.png);
}
.foot_top .right a:nth-of-type(3) {
  background-image: url(./img/인스타.png);
}
.foot_top .right a:nth-of-type(4) {
  background-image: url(./img/유튜브.png);
}
.foot_bottom {
  display: flex;
  padding: 1rem 0;
  font-size: var(--S2);
  line-height: 2;
  align-items: flex-end;
}
.foot_bottom .foot_copy {
  margin-right: 20%;
}
.foot_bottom .foot_copy span {
  font-weight: bold;
}
.foot_bottom .foot_copy p {
  color: var(--sub-c2);
}
.foot_bottom .foot_number {
}
.foot_bottom .foot_number span {
  margin-left: 0.5rem;
  color: var(--sub-c2);
}
.foot_bottom .foot_number span {
}
.gotop {
  /* border: 1px solid salmon; */
  position: fixed;
  bottom: 5vh;
  right: 5vh;
  z-index: 10;
}
.gotop > button {
  /* border: 1px solid salmon; */
  border: none;
  color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.btn_top {
  background-image: url(./img/caret-up-solid.svg);
  margin-bottom: -3vh;
}
.btn_down {
  background-image: url(./img/caret-down-solid.svg);
}
@media (max-width: 900px) {
  .hd .btn_header {
    /* border: 3px solid lightblue; */
    position: absolute;
    right: 4rem;
  }
  .hd .bottom_hd {
    /* border: 1px solid salmon; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hd .ham > button {
    display: block;
  }
  .hd .ham .ham_close {
    display: none;
  }
  .hd .ham .ham_close.on {
    display: block;
    z-index: 200;
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 0.75rem;
    background-color: white;
    border-radius: 20px;
    padding: 0.4rem 0.7rem;
  }
  .hd .ham .ham_close.on:hover {
    font-weight: bold;
  }
  .hd .bottom_hd .gnb {
    display: none;
  }
  .hd .bottom_hd .gnb::before {
    display: none;
  }
  .hd .bottom_hd .gnb.on {
    width: 100%;
    display: block;
    z-index: 100;
    background-color: var(--main-bg1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .hd .bottom_hd .gnb.on > li {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    padding: 0.25rem 0 0.25rem 0rem;
    width: 100%;
  }
  .hd .bottom_hd .gnb.on > li::before {
    content: "";
    width: 30%;
    height: 1px;
    background-color: var(--main-bg2);
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
  }
  .hd .bottom_hd .gnb.on > li:last-of-type::before {
    display: none;
  }
  .hd .bottom_hd .gnb.on > li:nth-of-type(1) {
    padding-top: 2rem;
  }
  .hd .bottom_hd .gnb.on > li > a {
    padding: 2.5vh 0 7vh 0;
    /* border: 1px solid red; */
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .hd .bottom_hd .gnb.on .sub {
    /* border: 1px solid gray; */
    height: auto;
    position: block;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
    display: flex;
  }
  .hd .bottom_hd .gnb.on .sub1 {
    top: calc(0.75rem + 55%);
  }
  .hd .bottom_hd .gnb.on .sub li {
    text-align: left;
  }
  .hd .bottom_hd .gnb:hover .sub {
    height: auto;
  }
  .sec1_con {
    /* border: 3px solid lightblue; */
    /* padding-top: 60%; */
  }
  .sec1_text h2 {
    font-size: var(--M2);
    padding-bottom: 0.25rem;
  }
  .sec1_text p {
    font-size: 16px;
    white-space: nowrap;
  }
  .sec1_circle a {
    font-size: 1rem;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .sec1_circle .circle_1 {
    /* border: 5px solid salmon; */
    top: 8%;
    width: 25vw;
    height: 25vw;
  }
  .sec1_circle .circle_1:hover {
    top: 8%;
  }
  .sec1_circle .circle_2 {
    bottom: 5%;
    left: 15%;
    width: 20vw;
    height: 20vw;
  }
  .sec1_circle .circle_2:hover {
    bottom: 5%;
  }
  .sec1_circle .circle_3 {
    top: 35%;
    right: 6%;
    width: 20vw;
    height: 20vw;
  }
  .sec1_circle .circle_3:hover {
    top: 35%;
  }
  .sec2 .sec2_left {
    padding-right: 2rem;
  }
  .sec2 li > p {
    height: 27%;
    padding-top: 8px;
  }
  .sec2 .sec2_img {
    width: 100%;
  }
  .sec2_img > li {
    width: calc(100% / 2 - 0.5rem);
  }
  .sec2_img li > p > span:first-of-type {
    font-size: 30px;
  }
  .sec2_img li > p > span:last-of-type {
    font-size: 16px;
  }
  .sec2 .sec2_img > li > div {
    display: none;
  }
  .sec2::before {
    display: none;
  }
  .sec3_left .menu_text > h2 {
    font-size: 40px;
  }
  .sec3_left .menu_btns > * {
    padding-left: 30%;
  }
  .sec3 .sec3_left .menu_btns > button {
    font-size: 0.7rem;
  }
  .sec3_left .menu_btns > button::before {
    width: 18%;
  }
  .sec3_left .menu_btns > button::after {
    left: 18%;
  }
  .sec3_right > article .swiper {
    margin-top: 30%;
  }
  .slide1 li::before {
    height: 19vw;
  }
  .slide2 li::before {
    height: 16.2vw;
  }
  .slide3 li::before {
    height: 17.3vw;
  }
  .slide4 li::before {
    height: 16.2vw;
  }
  .swiper li span {
    font-size: 0.8rem;
    left: 55%;
  }
  .btns {
    left: 11.4%;
  }
  .sec4 .store_size > li {
    margin: 3rem 0.5rem;
    padding-top: 25vh;
  }
  .sec4 .store_size > li:first-of-type,
  .sec4 .store_size > li:last-of-type {
    margin: 3rem 0;
  }
  .hd .botton_hd .gnb::after {
    content: "";
    border: 1px solid red;
    z-index: 10000;
    display: block;
    background-image: url(./img/bars-solid.svg);
    width: 5vh;
    height: 5vh;
  }
  .sec4 .list > div > p {
    font-size: 0.7rem;
  }
  .sec4 .list > p {
    font-size: 0.8rem;
  }
  .sec4 > .btn {
    margin-top: 2rem;
  }
  .sec4 > .btn > * {
    padding: 0.3rem 1.3rem;
  }
  .sec4 > .btn > a {
    font-size: 0.8rem;
  }
  .sec5 h2 {
    font-size: var(--M2) !important;
  }
  .sec5 .sec5_left,
  .sec5 .sec5_right {
    /* border: 1px solid red; */
    text-align: center;
  }
  .sec5 .sec5_left img {
    display: none;
  }
  .sec5 .sec5_text h2 {
    margin-bottom: 5rem;
  }
  .sec5 .sec5_text span {
    display: none;
  }
  .sec5 form {
    margin-top: 10%;
  }
  .sec5 form input {
    font-size: var(--S2);
  }
  .sec5 .sec5_right {
    /* border: 1px solid red; */
  }
  .sec5_openleft {
    width: 100%;
  }
  .sec5_openleft h2 {
    margin-bottom: 2rem;
  }
  .sec5_openleft .open {
    /* border: 1px solid salmon; */
    width: 90%;
    margin: 0.5rem;
  }
  .sec5_openleft .open span {
    font-size: 0.8rem;
  }
  .sec5_rightimg {
    display: none;
  }
  .foot_top .left a {
    font-size: 12px;
    padding: 0 0.5rem;
  }
  .foot_top .left a img {
    width: 4rem;
  }
  .foot_top .right a {
    /* border: 1px solid salmon; */
    margin: 0.3rem 0.1rem;
  }
  .foot_bottom .foot_copy {
    margin-right: 5%;
  }
  .gotop {
    bottom: 3vh;
    right: 3vh;
  }
}
@media (max-width: 650px) {
  .hd nav {
    height: auto;
  }
  .hd .bottom_hd .sub {
    /* border: 1px solid red; */
    width: 85vw !important;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hd .bottom_hd .gnb.on > li {
    padding: 0 0 0.5rem 0rem;
  }
  .hd .bottom_hd .gnb.on > li::before {
    bottom: auto;
    top: 105%;
  }
  .hd .bottom_hd .sub li a {
    padding: 0.1rem 0.3rem;
  }
  .hd .bottom_hd .gnb.on .sub {
    top: 50%;
  }
  .hd .bottom_hd .gnb.on .sub1 {
    top: 70%;
  }
  .hd .bottom_hd .gnb.on .sub3,
  .hd .bottom_hd .gnb.on .sub5,
  .hd .bottom_hd .gnb.on .sub6 {
    top: 60%;
  }
  .hd .bottom_hd .logo {
    width: 40%;
    padding: 0.5rem 0 0.25rem 0;
  }
  .hd .btn_header {
    right: 3rem;
  }
  .hd .btn_header a {
    padding: 0.3rem 1rem 0.3rem 1rem;
    font-size: var(--S1);
  }
  .hd .btn_header:hover a {
    font-weight: bold;
    padding: 0.3rem 1rem 0.3rem 1rem;
  }
  .hd .ham > button {
    padding: 0;
  }
  .sec1_con {
    padding-top: 45vh;
  }
  .sec1_text {
    top: 35%;
  }
  .sec1_text p {
    font-size: var(--S2);
  }
  .sec1_circle {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 7rem 1rem;
  }
  .sec1_circle > * {
    position: relative;
  }
  .sec1_circle .circle_1,
  .sec1_circle .circle_2,
  .sec1_circle .circle_3 {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    width: 27vw;
    height: 27vw;
  }
  .sec1_circle .circle_2::before,
  .sec1_circle .circle_3::before,
  .sec1_circle .circle_3::after {
    display: none;
  }
  .sec1_circle a {
    font-size: 22px !important;
  }
  .sec2 .sec2_left {
    padding: 1rem;
  }
  .sec2 .sec2_left h2 {
    font-size: 35px;
  }
  .sec2 .sec2_text {
    padding: 0.75rem 0 0.75rem 2rem;
  }
  .sec2 .sec2_text p {
    font-size: var(--S2);
  }
  .sec4_text h2 {
    padding-top: 1.75rem;
    font-size: var(--M2);
  }
  .sec4_text > div {
    padding: 1.25rem;
  }
  .sec4_text > div > p {
    font-size: 0.8rem;
  }
  .sec4 .store_size {
    /* border: 5px solid blueviolet; */
    flex-direction: column;
    padding-top: 1rem;
  }
  .sec4 .store_size > li {
    /* border: 1px solid salmon; */
    width: 100%;
    margin: 0;
    padding-top: 20vh;
  }
  .sec4 .store_size > li:first-of-type,
  .sec4 .store_size > li:last-of-type {
    margin: 0;
  }
  .sec4 .list {
    height: 80%;
  }
  .sec4 .list > img {
    width: 40%;
  }
  .sec4 .list > div {
    /* border: 1px solid salmon; */
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    top: auto;
    bottom: 0;
    left: 45%;
    right: auto;
    color: #000;
    width: 55%;
    justify-content: flex-end;
    text-align: left;
  }
  .sec4 .list > p {
    /* border: 1px solid salmon; */
    width: 55%;
    position: absolute;
    top: 0;
    left: 45%;
    padding: 0;
    font-weight: bold;
  }
  .sec4 > .btn > * {
    padding: 0.4rem 1.5rem;
  }
  .sec4 > .btn > a:first-of-type {
    right: 52%;
  }
  .sec4 > .btn > a:last-of-type {
    left: 52%;
  }
  .sec5 {
    flex-direction: column-reverse;
    padding: 5rem 0;
  }
  .sec5 .sec5_left {
    width: 100%;
  }
  .sec5 .sec5_left::before,
  .sec5 .sec5_right::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #eaeaea;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }
  .sec5 .sec5_text h2 {
    padding-top: 3rem;
    margin-bottom: 0.3rem;
  }
  .sec5 .sec5_right {
    width: 100%;
    padding-bottom: 2rem;
  }
  .sec5_openleft h2 {
    padding-top: 2rem;
  }
  .sec5_openleft .open {
    margin: 1rem 0 0 0;
  }
  .sec5_openleft .open:first-of-type {
    margin: 0;
  }
  .foot_top .left a:nth-of-type(2),
  .foot_top .left a:nth-of-type(3) {
    display: none;
  }
  .foot_top .left a {
    font-size: 10px;
  }
  .foot_bottom {
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 12px;
  }
  .foot_bottom .foot_copy {
    margin-right: 0;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 546px) {
  .hd .bottom_hd .gnb.on .sub1 {
    top: 65%;
  }
}
@media (max-width: 500px) {
  .hd .top_hd > a {
    font-size: 12px;
  }
  .hd .btn_header a {
    color: var(--sub-c1);
    display: inline-block;
    padding: 0.3rem 0.75rem;
    border-radius: 50%;
    transition: 0.3s;
    white-space: nowrap;
  }
  .sec1_text {
    top: 30%;
  }
  .sec1_circle {
    padding: 0 1rem 7rem 1rem;
  }
  .sec1_circle div {
    /* border: 1px solid salmon; */
    border-radius: 25%;
  }
  .sec1_circle .circle_1,
  .sec1_circle .circle_2,
  .sec1_circle .circle_3 {
    width: 27vw;
    height: 30vw;
    overflow: hidden;
  }
  .sec1_circle .circle_1 img,
  .sec1_circle .circle_2 img,
  .sec1_circle .circle_3 img {
    border: 5px solid lightpink;
    border-radius: 25%;
    transform: scale(1.5);
  }
  .sec1_circle a {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25%;
    font-size: var(--S1) !important;
  }
  .sec2 .sec2_left {
    /* border: 1px solid salmon; */
    padding: 1.5rem 0.5rem;
  }
  .sec2 .sec2_text {
    padding: 0.75rem 0 0.75rem 1rem;
  }
  .sec2_img > li {
    width: calc(100% / 2 - 0.25rem);
    margin-bottom: 0.5rem;
  }
  .sec4 .list > div > p {
    line-height: 1.75;
  }
  .foot_top .left {
    padding: 0.4rem 0;
  }
  .foot_top .right {
    /* border: 1px solid salmon; */
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
  }
  .foot_bottom {
    padding: 2rem 0 1rem 0;
  }
}
